<?xml version="1.0"?>
<!--
デバッグ用の出力あり

===== Param =====
以下のように設定すること
- localizer
    flag_broadcast: true
    is_visible: true
- local_path_planner
    is_visible: true
-->
<launch>
    <!-- roomba number -->
    <arg name="roomba" default="roomba1"/>
    <!-- plan number -->
    <arg name="plan" default="1"/>

    <!-- launch navigation -->
    <include file="$(find amr_system)/launch/all/all.launch">
        <arg name="roomba" default="$(arg roomba)"/>
        <arg name="plan"   default="$(arg plan)"/>
    </include>

    <!-- rviz -->
    <arg name="rviz_settings" default="$(find amr_system)/config/rviz/multi/$(arg roomba).rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
</launch>
