<?xml version="1.0"?>
<launch>
    <!-- roomba number -->
    <arg name="roomba" default="roomba1"/>

    <!-- launch devices -->
    <group ns="$(arg roomba)">
        <include file="$(find multi_robots)/launch/launch_devices.launch">
            <arg name="roomba" default="$(arg roomba)"/>
        </include>
        <include file="$(find theta_s_ros)/launch/run_theta_s.launch"/>
    </group>

    <!-- rviz -->
    <arg name="rviz_settings" default="$(find amr_system)/config/rviz/multi/check_cam/$(arg roomba).rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
</launch>
