<?xml version="1.0"?>
<launch>
    <!-- ROS Time setting -->
    <rosparam param="/use_sim_time">true</rosparam>

    <!-- config file path -->
    <arg name="rviz_settings" default="$(find second_challenge_toshiki)/config/rviz/local_path_planner.rviz"/>
    <arg name="map_settings" default="$(find second_challenge_toshiki)/map/map.yaml"/>
    <arg name="localizer_settings" default="$(find second_challenge_toshiki)/config/param/localizer.yaml"/>
    <arg name="obstacle_expander_settings" default="$(find second_challenge_toshiki)/config/param/obstacle_expander.yaml"/>
    <arg name="global_path_planner_settings" default="$(find second_challenge_toshiki)/config/param/global_path_planner.yaml"/>
    <arg name="local_goal_creator_settings" default="$(find second_challenge_toshiki)/config/param/local_goal_creator.yaml"/>
    <arg name="obstacle_detector_settings" default="$(find second_challenge_toshiki)/config/param/obstacle_detector.yaml"/>
    <arg name="local_map_creator_settings" default="$(find second_challenge_toshiki)/config/param/local_map_creator.yaml"/>
    <arg name="local_path_planner_settings" default="$(find second_challenge_toshiki)/config/param/local_path_planner.yaml"/>

    <!-- static tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser"/>

    <!-- node launch -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_settings)" output="screen"/>
    <node pkg="second_challenge_toshiki" type="localizer" name="localizer">
        <rosparam command="load" file="$(arg localizer_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="local_goal_creator" name="local_goal_creator" output="screen">
        <rosparam command="load" file="$(arg local_goal_creator_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="obstacle_expander" name="obstacle_expander" output="screen">
        <rosparam command="load" file="$(arg obstacle_expander_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="global_path_planner" name="global_path_planner" output="screen">
        <rosparam command="load" file="$(arg global_path_planner_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="obstacle_detector" name="obstacle_detector" output="screen">
        <rosparam command="load" file="$(arg obstacle_detector_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="local_map_creator" name="local_map_creator" output="screen">
        <rosparam command="load" file="$(arg local_map_creator_settings)"/>
    </node>
    <node pkg="second_challenge_toshiki" type="local_path_planner" name="local_path_planner" output="screen">
        <rosparam command="load" file="$(arg local_path_planner_settings)"/>
    </node>
    <node pkg="rosbag" type="play" name="play" args="$(env HOME)/bag_folder/localizer.bag --clock"/>
</launch>
