<?xml version="1.0"?>
<launch>
    <!-- yaml file path  -->
    <arg name="obstacle_detector_settings" default="$(find second_challenge_toshiki)/config/param/obstacle_detector.yaml"/>

    <!-- node launch -->
    <node pkg="second_challenge_toshiki" type="obstacle_detector2" name="obstacle_detector2" output="screen">
        <rosparam command="load" file="$(arg obstacle_detector_settings)"/>
    </node>
</launch>
