<?xml version="1.0"?>
<launch>
    <arg name="roomba" default="roomba1"/>
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/amsl/bagfiles/nakamura/$(arg roomba).bag
        /$(arg roomba)/map/map
        /$(arg roomba)/estimated_pose
        /$(arg roomba)/particle_cloud
        /$(arg roomba)/camera/aligned_depth_to_color/image_raw/compressed
        /$(arg roomba)/camera/color/camera_info
        /$(arg roomba)/camera/color/image_rect_color/compressed
        /$(arg roomba)/roomba/odometry
        /$(arg roomba)/scan
        /$(arg roomba)/theta_s/image_raw/compressed
        /tf
        /tf_static"/>
</launch>
